<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xpf.rxjavaretrofit2demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.operator.RxJava2MergeOperator"></activity>
        <activity android:name=".ui.operator.RxJavaNetRequestActivity" />
        <activity android:name=".ui.operator.EstablishOperatorActivity" />
        <activity android:name=".ui.operator.CombineOperatorActivity" />
        <activity android:name=".ui.operator.RxJava2ConditionOperatorActivity" />
        <activity android:name=".ui.operator.RxJavaOperatorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HttpUrlConnectionActivity" />
        <activity android:name=".activity.VolleyDemoActivity" />
        <activity android:name=".activity.Okhttp3DemoActivity" />
        <activity android:name=".activity.RxJavaDemoActivity" />
        <activity android:name=".activity.SimpleRetrofit" />
        <activity android:name=".activity.RxJavaHelloWorldActivity" />
        <activity android:name=".activity.ObservableActivity" />
        <activity android:name=".ui.movie.view.MovieFlowableActivity" />
        <activity android:name=".activity.RxJavaGitHubActivity" />
    </application>

</manifest>